<h1>Sign In</h1>

<p>
  No account yet? <%= link_to "Sign up!", new_session_path %>
</p>

<%= form_with url: session_path, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :email_ %>
    <%= f.text_field :email, autofocus: true, required: true, class: "form-control", placeholder: "name@email.com"  %>
  </div>

  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, required: true, class: "form-control", placeholder: "Enter password"  %>
  </div>

  <%= f.submit "Sign In", class: "btn btn-primary" %>

<% end %>
